@import '../App.css';
.lawButtonContainer {
      display: grid;
    justify-content: center;
    margin: 1 auto;
   
}


.lawImage {
   height: 13rem;
   width: 13rem;
   padding: .5rem;
    border: 8px solid $main2;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.lawArea {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: $main;
}