
$main: rgb(18,5,52);
$yellow: rgb(233,212,19);
$yellow2: rgba(233, 212, 19, 0.4);

$red: rgb(139, 8, 36);
$gray: #363538;
$gray2: #79777c;
$shadow: hsla(0, 9%, 2%, 0.329);
$white: #F6F6F2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background: $white;
    color: $gray;
    font-family: 'Roboto', sans-serif;
}